<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.item.mapper.TemplateMapper" >
  <resultMap id="BaseResultMap" type="com.item.entity.Template" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TEMPLATE_NAME" property="templateName" jdbcType="VARCHAR" />
    <result column="DOC_CREATOR_ID" property="docCreatorId" jdbcType="VARCHAR" />
    <result column="DOC_CREATOR_NAME" property="docCreatorName" jdbcType="VARCHAR" />
    <result column="DOC_CREATIME" property="docCreatime" jdbcType="TIMESTAMP" />
    <result column="TEMPLATE_INFO" property="templateInfo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, TEMPLATE_NAME, DOC_CREATOR_ID, DOC_CREATOR_NAME, DOC_CREATIME, TEMPLATE_INFO
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.item.base.entity.Example" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from TEMPLATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from TEMPLATE
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from TEMPLATE
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.item.base.entity.Example" >
    delete from TEMPLATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.item.entity.Template" >
    insert into TEMPLATE (ID, TEMPLATE_NAME, DOC_CREATOR_ID, 
      DOC_CREATOR_NAME, DOC_CREATIME, TEMPLATE_INFO
      )
    values (#{id,jdbcType=VARCHAR}, #{templateName,jdbcType=VARCHAR}, #{docCreatorId,jdbcType=VARCHAR}, 
      #{docCreatorName,jdbcType=VARCHAR}, #{docCreatime,jdbcType=TIMESTAMP}, #{templateInfo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.item.entity.Template" >
    insert into TEMPLATE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="templateName != null" >
        TEMPLATE_NAME,
      </if>
      <if test="docCreatorId != null" >
        DOC_CREATOR_ID,
      </if>
      <if test="docCreatorName != null" >
        DOC_CREATOR_NAME,
      </if>
      <if test="docCreatime != null" >
        DOC_CREATIME,
      </if>
      <if test="templateInfo != null" >
        TEMPLATE_INFO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="templateName != null" >
        #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="docCreatorId != null" >
        #{docCreatorId,jdbcType=VARCHAR},
      </if>
      <if test="docCreatorName != null" >
        #{docCreatorName,jdbcType=VARCHAR},
      </if>
      <if test="docCreatime != null" >
        #{docCreatime,jdbcType=TIMESTAMP},
      </if>
      <if test="templateInfo != null" >
        #{templateInfo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.item.base.entity.Example" resultType="java.lang.Integer" >
    select count(*) from TEMPLATE
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update TEMPLATE
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.templateName != null" >
        TEMPLATE_NAME = #{record.templateName,jdbcType=VARCHAR},
      </if>
      <if test="record.docCreatorId != null" >
        DOC_CREATOR_ID = #{record.docCreatorId,jdbcType=VARCHAR},
      </if>
      <if test="record.docCreatorName != null" >
        DOC_CREATOR_NAME = #{record.docCreatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.docCreatime != null" >
        DOC_CREATIME = #{record.docCreatime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.templateInfo != null" >
        TEMPLATE_INFO = #{record.templateInfo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update TEMPLATE
    set ID = #{record.id,jdbcType=VARCHAR},
      TEMPLATE_NAME = #{record.templateName,jdbcType=VARCHAR},
      DOC_CREATOR_ID = #{record.docCreatorId,jdbcType=VARCHAR},
      DOC_CREATOR_NAME = #{record.docCreatorName,jdbcType=VARCHAR},
      DOC_CREATIME = #{record.docCreatime,jdbcType=TIMESTAMP},
      TEMPLATE_INFO = #{record.templateInfo,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.item.entity.Template" >
    update TEMPLATE
    <set >
      <if test="templateName != null" >
        TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      </if>
      <if test="docCreatorId != null" >
        DOC_CREATOR_ID = #{docCreatorId,jdbcType=VARCHAR},
      </if>
      <if test="docCreatorName != null" >
        DOC_CREATOR_NAME = #{docCreatorName,jdbcType=VARCHAR},
      </if>
      <if test="docCreatime != null" >
        DOC_CREATIME = #{docCreatime,jdbcType=TIMESTAMP},
      </if>
      <if test="templateInfo != null" >
        TEMPLATE_INFO = #{templateInfo,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.item.entity.Template" >
    update TEMPLATE
    set TEMPLATE_NAME = #{templateName,jdbcType=VARCHAR},
      DOC_CREATOR_ID = #{docCreatorId,jdbcType=VARCHAR},
      DOC_CREATOR_NAME = #{docCreatorName,jdbcType=VARCHAR},
      DOC_CREATIME = #{docCreatime,jdbcType=TIMESTAMP},
      TEMPLATE_INFO = #{templateInfo,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
</mapper>